Number Data Type

In [173]:
#numeric data type

a = 12.45
print(a)
# a
# b=13.12
c = bin(12)
c
d=oct(8)
d

e = hex(15)
e
f = complex(2+3j)
g = 4+3j
# g=g+f
g

12.45

(4+3j)

String

In [174]:
a = "this is my string"
a[:-3]

'this is my str'

In [133]:
b= 'abcd'

In [134]:
b[0]='s'

TypeError: 'str' object does not support item assignment

Tuple

In [137]:
a=(1,2,3,4,5,6,7,8,9)



# a[3][1]=4
# # a[1]=4
# a

(3, 4, 5)

list, dictionary ans set

In [141]:
a = [1,2,3,4,'a','b',1.4,12,3,(1,2,3)]
a[9]=5
# a =list(a)
a

[1, 2, 3, 4, 'a', 'b', 1.4, 12, 3, 5]

In [144]:
mydic = { 1 : 'a', 2 : 'b' }
mydic[1]
# mydic = dict(a=a,b=b,c=c)
mydic

{1: 'a', 2: 'b'}

In [145]:
mydic[1]

'a'

In [147]:
myset = {1,2,3,4,4,4,4,4}
# myset = set((1,2,3,3))
myset

{1, 2, 3, 4}

Operator

In [154]:
a,b=11,5

c=a+b
c
# c=a-b
# c=a*b
# a/b
# a//b
# a%b
a**2

121

Assignment operator

In [155]:
a,b=20,10
a=10
a+=20 # a = a+20
a
#can use with all mathematical operator

30

comparision or relational operator

In [158]:
a,b=10,15
a==b
a<b
# a<=b
# a>b
a>=b

False

logical operator

In [160]:
a=(a==b)
a
b=(a<b)
b

True

In [161]:
c = a and b
c

False

In [23]:
c = a or b
c

True

In [24]:
c = not b
c

False

Bitwise operator

In [162]:
a=4  # 0100
b=8 # 1000
c = a & b
c

0

In [163]:
c = a | b  a=0100
            b=1000
c          c=1100

12

In [164]:
c =10 ^ 4 # 1010 XOR 0100
c

14

In [165]:
c = ~2  # -(10+1)=-(11)
c

-3

In [166]:
a=8 #10000
a= a<<1
a

16

In [167]:
a =a>>1
a

8

identity operator

In [168]:
dic = {'a':1,'b':2,'c':1}
dic['a'] is dic['c']
# dic['a'] is not dic['b']

True

Membership operator

In [169]:
a=[1,2,3,3,4,5,'a','b','b']
2 in a

True

In [170]:
c in a

False

In [59]:
'a' in a

True

Ternery operator

In [172]:
a,b=10,15

c =  a if a<b else b
c

10